.mpn-button {
    text-decoration: none;
    color: orangered;
    text-transform: uppercase;
    font-size: 0.8em;
    background-color: #dedcdc;
    padding: 25px 50px;
    font-weight: 600;
}

.mpn-button:hover {
    color: orangered;
    background-color: white;
}

.mpn-bg {
    background-color: #dedcdc;
}